.attendance-display {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    padding-left: 0px;
  }
  
  .attendance-display h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  .attendance-display label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .attendance-display .react-datepicker-wrapper {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .attendance-display table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .attendance-display table th,
  .attendance-display table td {
    border: 1px solid #121111;
    padding: 10px;
    text-align: left;
  }
  
  .attendance-display table th {
    background-color: #e63946;
    font-weight: bold;
  }
  
  .attendance-display table td {
    background-color: #f9f9f9;
  }
  