.company-details {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.568);
    width: 700px;
  }
  
  .company-details h2 {
    margin-top: 0;
  }
  
  .company-details form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .company-details form label {
    display: flex;
    flex-direction: column;
  }
  
  .company-details form input,
  .company-details form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .company-details form button {
    grid-column: span 2;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .company-details form button:hover {
    background-color: #45a049;
  }
  
  .company-details div p {
    margin: 8px 0;
  }
  
  .company-details div button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .company-details div button:hover {
    background-color: #45a049;
  }
  