.home-page {
    display: flex;
    transition: all 0.3s ease;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0);
  }
  
  .home-page.sidebar-open .main-content {
    margin-left: 270px;
  }
  
  .home-page.sidebar-closed .main-content {
    margin-left: 70px;
  }
  
  .main-content {
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
  }
  